<div class="navbar navbar-default navbar-static-top" id="nav-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-toggle-left" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-navicon"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-src-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-search"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-crt-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-shopping-cart"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-lgn-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-user"></i></button>
        </div>
        <div class="col-sm-1 collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/video">Home</a></li>

            </ul>
            <ul class="nav navbar-nav">
                <li><a ng-href = "" ><p ng-if="videoVm.myUser" class="text-primary">Welcome, {{videoVm.myUser.firstName}} {{videoVm.myUser.lastName}} </p></a></li>

            </ul>


        </div>


        <div class="collapse navbar-collapse" id="navbar-src-collapse">
            <form class="navbar-form" role="">
                <ul class="form-group">
                    <input type="text" class="form-control" placeholder="Search Movie name" ng-model="videoVm.searchText.title">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <button ng-if="videoVm.myUser" class="btn-danger" ng-click="videoVm.logOut()">Log Out</button>

                </ul>
            </form>

        </div>
    </div>

</div>