<span class="star-rating star-5 ">
  <input type="radio " name="rating " value="1 " ng-model="detailsVm.newComment.userRating "><i></i>
  <input type="radio " name="rating " value="2 "  ng-model="detailsVm.newComment.userRating "><i></i>
  <input type="radio " name="rating " value="3 " ng-model="detailsVm.newComment.userRating "><i></i>
  <input type="radio " name="rating " value="4 " ng-model="detailsVm.newComment.userRating " checked><i></i>
  <input type="radio " name="rating " value="5 " ng-model="detailsVm.newComment.userRating "><i></i>
</span>