<h2>Sign Up</h2>
<hr>
<div class="container">
    <div class="login_div">
        <form>

            <div class="form-group">
                <label for="firstNameLoginText">First Name</label>
                <input type="text" class="form-control" id="firstNameLoginText" placeholder="eg. John" required minlength="4">
            </div>

            <div class="form-group">
                <label for="lastNameLoginText">Last Name</label>
                <input type="text" class="form-control" id="lastNameLoginText" placeholder="eg. Robinson" required minlength="4">
            </div>



            <div class="form-group">
                <label for="loginEmailText">Email address</label>
                <input type="email" class="form-control" id="loginEmailText" placeholder="eg. xyz@abc.com" required>
            </div>

            <div class="form-group">
                <label for="loginPasswordText">Password</label>
                <input type="password" class="form-control" id="loginPasswordText" placeholder="Password" required minlength="6">
            </div>

            <div class="form-group">
                <label for="confirmPasswordText">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPasswordText" placeholder="re-enter password" required minlength="6">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>

        <p> Already have an account? <a class="link" href="index.html"><strong>Sign in</strong></a></p>
    </div>
</div>


