<h1> <a ng-href="#!/video"> < Back</a></h1>


<div class="moviecard">
    <div class="movie-poster">
        <img ng-src="{{videoDetailVm.video.poster}}" alt="{{videoDetailVm.video.title}}">
    </div>

    <div id="movie-content">
        <div class="movie-ratings">
            <span class="star">★</span>
            <span class="score">{{videoDetailVm.video.imdbRating | number}}</span>
            <span class="score-out-of">/10 (IMDB)</span>
        </div>
        <br>
        <div class="movie-title">
            <a ng-href="http://www.imdb.com/title/{{videoDetailVm.video.imdbId}}" target="_blank">{{videoDetailVm.video.title}}</a>
            <span class="movie-year">{{videoDetailVm.video.year}}</span></div>
        <div class="movie-details">
            <span class="movie-rating">{{videoDetailVm.video.rated}}</span>
            <span class="movie-duration">{{videoDetailVm.video.runtime}}</span>
            <span class="movie-genre">{{videoDetailVm.video.genre}}</span>
        </div>
        <div class="movie-castcrew">
            <span class="title">Director</span>
            <span class="name">{{videoDetailVm.video.director}}</span></div>
        <div class="movie-castcrew">
            <span class="title">Writer</span>
            <span class="name">{{videoDetailVm.video.writer}}</span></div>
        <div class="movie-castcrew">
            <span class="title">Cast</span>
            <span class="name">{{videoDetailVm.video.actors}}</span>
        </div>
        <div class="movie-castcrew">
            <span class="title">Awards</span>
            <span class="name">{{videoDetailVm.video.awards}}</span>
        </div>
        <div class="movie-synopsis">{{videoDetailVm.video.plot}}</div>
        <!--<button class=" glyphicon glyphicon-remove" type="button">Delete</button>-->
    </div>
    <div class="movie-trailer">
        <a class="back-btn">back</a>

    </div>
</div>