<!--- NAVBAR -->

<div class="navbar navbar-default navbar-static-top" id="nav-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-toggle-left" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-navicon"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-src-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-search"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-crt-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-shopping-cart"></i></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-lgn-collapse">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-2x fa-fw fa-user"></i></button>
        </div>
        <div class="col-sm-1 collapse navbar-collapse" id="navbar-ex-collapse">

            <ul class="nav navbar-nav ">
               <li><a ng-href="#!/video"><strong class="text-danger glyphicon glyphicon-sound-dolby"> MOVIETIME</strong></a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="#!/video">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="#!/top-rated">Top Videos</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a ng-href = "">
                        <p ng-if="videoVm.myUser" class="text-primary">Welcome, {{videoVm.myUser.firstName}} {{videoVm.myUser.lastName}} </p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbar-src-collapse">
            <form class="navbar-form" role="">
                <ul class="form-group">
                    <input type="text" style="width: 300px;" class="form-control" placeholder="Search Video by Type, Genre, Year, Title" ng-model="searchString">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <button ng-if="videoVm.myUser" class="btn-danger" ng-click="videoVm.logOut()">Log Out</button>

                </ul>
            </form>

        </div>
    </div>

</div>

<!--- NAVBAR ends --->


<!-- Filter Bar -->




<!-- Filterbar ends -->


<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">

                            <h4 class="header-slogan"><strong class="text-warning text-uppercase"> MovieTime  </strong>   ...A source for your daily dose of entertainment</h4>

                            <ul class="nav nav-pills">
                                <h3>Sort By: </h3>
                                <li role="presentation" ><button ng-click="videoVm.sorter.sortBy= 'imdbRating'; videoVm.sorter.sortOrder = !videoVm.sorter.sortOrder;" class="text-center text-primary">IMDB Rating</button></li>
                                <li role="presentation"><button ng-click="videoVm.sorter.sortBy= 'released'; videoVm.sorter.sortOrder = !videoVm.sorter.sortOrder;" class="text-center text-warning">Year</button></li>
                                <li role="presentation"><button ng-click="videoVm.sorter.sortBy= 'imdbVotes'; videoVm.sorter.sortOrder = !videoVm.sorter.sortOrder;" class="text-center text-danger" >IMDB Votes</button></li>
                            </ul>
                        </div>


                    </div>

                    <div class="row" style="background: whitesmoke">


                           <div ng-repeat="video in videoVm.allMovies | searchFor:searchString | orderBy: videoVm.sorter.sortBy: videoVm.sorter.sortOrder">
                               <div class="col-sm-4">
                                    <br>
                                   <div class="ih-item square effect13 left_to_right"><a href="#!/video-detail/{{video.id}}" >
                                       <div class="img"><p class="text-center" style="background-color: #bce8f1 ">{{video.title}}</p><img src="{{video.poster}}" alt="img" >

                                       </div>
                                       <div class="info">
                                           <h3>{{video.genre}}</h3>
                                           <h3 class="glyphicon glyphicon-star"> {{video.imdbRating}}/10 |  {{video.imdbVotes}} votes</h3>
                                           <h3>{{video.released | date: 'yyyy'}}</h3>
                                       </div></a></div>
                                   <br>
                               </div>

                           </div>
                    </div>














                        <!--<table class="table table-striped ">-->
                            <!--<thead class="thead-inverse">-->
                            <!--<tr>-->
                                <!--<th class="btn-success"> Movie Poster</th>-->
                                <!--<th ng-click="videoVm.sorter.sortBy= 'title'; videoVm.sorter.sortOrder = !videoVm.sorter.sortOrder;" class="btn-primary" >Title </th>-->
                                <!--<th ng-click="videoVm.sorter.sortBy= 'imdbRating'; videoVm.sorter.sortOrder = !videoVm.sorter.sortOrder;" class="btn-success">Rating</th>-->
                                <!--<th ng-click="videoVm.sorter.sortBy= 'released'; videoVm.sorter.sortOrder = !videoVm.sorter.sortOrder;" class="btn-primary">Release</th>-->

                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="video in videoVm.allMovies | filter: videoVm.searchText | orderBy: videoVm.sorter.sortBy: videoVm.sorter.sortOrder ">-->
                                <!--<td><a title="{{video.plot}}" ng-href="#!/video-detail/{{video.id}}"><img class="photo" ng-src="{{video.poster}}"></a> </td>-->
                                <!--<td class="text-uppercase">{{video.title}}</td>-->
                                <!--<td>-->
                                    <!--<span class="star text-danger">★ </span>{{video.imdbRating}}<span class="score-out-of">/10</span>-->
                                <!--</td>-->
                                <!--<td>{{video.released | date}}</td>-->

                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <!----------- !Navbar End ------------>


    <section style="text-align:center; margin:10px auto;"><p> &copy; Movie Time, Inc</a></p></section>








