<h1> <a ng-href="#!/video"> < Back</a></h1>


<div class="moviecard">
    <div class="movie-poster poster">
        <img style="height: 100%; width: 100%" ng-src="{{videoDetailVm.video.poster}}" alt="{{videoDetailVm.video.title}}">
    </div>

    <div id="movie-content">
        <div class="movie-ratings">
            <span class="star">★</span>
            <span class="score">{{videoDetailVm.video.imdbRating | number}}</span>
            <span class="score-out-of">/10 (IMDB)</span>
        </div>
        <br>
        <div class="movie-title">
            <a ng-href="http://www.imdb.com/title/{{videoDetailVm.video.imdbId}}" target="_blank">{{videoDetailVm.video.title}}</a>
            <span class="movie-year">{{videoDetailVm.video.released | date: 'yyyy'}}</span></div>
        <div class="movie-details">
            <span class="movie-rating">{{videoDetailVm.video.rated}}</span>
            <span class="movie-duration">{{videoDetailVm.video.runtime}}</span>
            <span class="movie-genre">{{videoDetailVm.video.genre}}</span>
        </div>
        <div class="movie-castcrew">
            <span class="title">Director</span>
            <span class="name">{{videoDetailVm.video.director}}</span></div>
        <div class="movie-castcrew">
            <span class="title">Writer</span>
            <span class="name">{{videoDetailVm.video.writer}}</span></div>
        <div class="movie-castcrew">
            <span class="title">Cast</span>
            <span class="name">{{videoDetailVm.video.actors}}</span>
        </div>
        <div class="movie-castcrew">
            <span class="title">Awards</span>
            <span class="name">{{videoDetailVm.video.awards}}</span>
        </div>
        <div class="movie-synopsis">{{videoDetailVm.video.plot}}</div>

    </div>

</div>

            <div class="text-center text-uppercase">&nbsp;<strong>User Comments</strong></div>

           <div class="moviecard" ng-show="videoDetailVm.comments">
               <div class="" ng-repeat="comment in videoDetailVm.comments">
                   <div class="glyphicon glyphicon-menu-right"> </div><span class="title"> {{comment.comment}}</span><br>
                   <div class="glyphicon glyphicon-asterisk"><strong>{{comment.userRating}}</strong>/10 </div>

                   <p class="text-warning"><span class="text-primary"> {{comment.commentBy}}</span>, {{comment.commentDate | date: 'medium'}} </p><hr>

               </div>
           </div>



<form class="text-center" name="commentForm" ng-submit="commentForm.$setPristine();  videoDetailVm.createComment() " >
    <div class="form-group">
       <label>Give your rating(1-5) <input type="number" min="1" max="5" required ng-model="videoDetailVm.newComment.userRating"> </label><br>
        <textarea rows="4 " cols="50" name="comment " ng-trim="false" ng-model="videoDetailVm.newComment.comment" placeholder="Add comment..." required maxlength="500"> </textarea>
    <p>Characters left : {{500- videoDetailVm.newComment.comment.length}}</p>
    </div>
    <button type="submit " class="btn btn-primary "ng-click="window.location.reload()">Submit</button>
</form>

<section style="text-align:center; margin:10px auto;"><p> &copy; Movie Time, Inc</a></p></section>